# Pre - processing Data

### Import Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
rrh = pd.read_csv('dataset/hong-kong-horse-racing/race-result-horse.csv')
rrh.shape

(30189, 19)

In [7]:
#  drop the rows where the “finish_position” is not a number (e.g. WV-A, WV). There may be accidents.
rrh = rrh[rrh.finishing_position.isin(['1','2','3','4','5','6','7','8','9','10','11','12','13','14'])].reset_index()
rrh.head()

,level_0,index,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,...,running_position_2,running_position_3,running_position_4,finish_time,win_odds,running_position_5,running_position_6,race_id,recent_6_runs,recent_ave_rank
0,0,0,1,1.0,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,...,2.0,2.0,1.0,1.22.33,3.8,NaN,NaN,2014-001,1,1
1,1,1,2,2.0,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,...,9.0,9.0,2.0,1.22.65,8,NaN,NaN,2014-001,2,2
2,2,2,3,10.0,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,...,1.0,1.0,3.0,1.22.66,5.7,NaN,NaN,2014-001,3,3
3,3,3,4,3.0,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,...,4.0,5.0,4.0,1.22.66,6.1,NaN,NaN,2014-001,4,4
4,4,4,5,7.0,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,...,10.0,10.0,5.0,1.23.02,6.1,NaN,NaN,2014-001,5,5

In [8]:
horse_id = rrh.horse_id.unique()
no_horse = len(horse_id)
horse_index = range(no_horse)

jockey = rrh.jockey.unique()
no_jockey = len(jockey)
jockey_index = range(no_jockey)

trainer = rrh.trainer.unique()
no_trainer = len(trainer)
trainer_index = range(no_trainer)

print(' Number of horses: ' , no_horse , '\n', 'Number of Jokeys: ' , no_jockey ,'\n', 'Number of Trainers: ' , no_trainer)

 Number of horses:  2155
 Number of Jokeys:  105
 Number of Trainers:  93

In [9]:
rrh.head()

,level_0,index,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,...,running_position_2,running_position_3,running_position_4,finish_time,win_odds,running_position_5,running_position_6,race_id,recent_6_runs,recent_ave_rank
0,0,0,1,1.0,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,...,2.0,2.0,1.0,1.22.33,3.8,NaN,NaN,2014-001,1,1
1,1,1,2,2.0,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,...,9.0,9.0,2.0,1.22.65,8,NaN,NaN,2014-001,2,2
2,2,2,3,10.0,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,...,1.0,1.0,3.0,1.22.66,5.7,NaN,NaN,2014-001,3,3
3,3,3,4,3.0,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,...,4.0,5.0,4.0,1.22.66,6.1,NaN,NaN,2014-001,4,4
4,4,4,5,7.0,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,...,10.0,10.0,5.0,1.23.02,6.1,NaN,NaN,2014-001,5,5

In [10]:
#ignore filter warnings
import warnings
warnings.filterwarnings("ignore")

In [11]:
# Takes a while to run

# Add a column named recent_6_runs to the dataframe, which records the recent ranks of the horse in each entry. 
# The ranks are separated by “/”, and a record is like 1/2/6/3/4/7.

# Add a column named recent_ave_rank for each entry to the dataframe, 
# which records the average rank of the recent 6 runs of a horse

rrh['recent_6_runs'] = '0'
rrh['recent_ave_rank'] = '7'

for i in range(len(rrh['finishing_position'])):
    
    temp = rrh[ : (i + 1)][rrh.horse_id == rrh.horse_id[i]][['finishing_position']]
    temp = temp['finishing_position'].values.tolist()[::-1]
  
    rrh['recent_6_runs'][i] = '/'.join(temp[:6])
    
    if len(temp) != 0:
        temp_int = map(int,temp)    # convert string to integer
        temp_ave = np.mean(list(temp_int))
        rrh['recent_ave_rank'][i] = temp_ave

In [12]:
rrh.head()

,level_0,index,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,...,running_position_2,running_position_3,running_position_4,finish_time,win_odds,running_position_5,running_position_6,race_id,recent_6_runs,recent_ave_rank
0,0,0,1,1.0,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,...,2.0,2.0,1.0,1.22.33,3.8,NaN,NaN,2014-001,1,1
1,1,1,2,2.0,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,...,9.0,9.0,2.0,1.22.65,8,NaN,NaN,2014-001,2,2
2,2,2,3,10.0,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,...,1.0,1.0,3.0,1.22.66,5.7,NaN,NaN,2014-001,3,3
3,3,3,4,3.0,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,...,4.0,5.0,4.0,1.22.66,6.1,NaN,NaN,2014-001,4,4
4,4,4,5,7.0,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,...,10.0,10.0,5.0,1.23.02,6.1,NaN,NaN,2014-001,5,5

In [14]:
# Add column of Distance

# The distance could be 1000, 1200, 1400, 1600, 1800, 2000, 2400, etc. 
# Some horses are good at short-distance races, while some are good at long-distance races.

rrh['race_distance'] = '0'
rrr = pd.read_csv('dataset/hong-kong-horse-racing/race-result-race.csv')
for i in range(len(rrr['race_id'])):
    distance = rrr['race_distance'][i]
    rrh['race_distance'][rrh.race_id == rrr.race_id[i]] = distance

In [15]:
# Add HorseWin, HorseRankTop3, HorseRankTop50Percent for use in Part3

rrh['HorseWin'] = (rrh.finishing_position == '1') + 0
rrh['HorseRankTop3'] = (rrh.finishing_position == '1') + (rrh.finishing_position == '2') + (rrh.finishing_position == '3') + 0

index=rrh.index[rrh['finishing_position'] == '1'].tolist()

rrh['HorseRankTop50Percent'] = '0'
for i in range(len(index)-1):
    rrh['HorseRankTop50Percent'][index[i]:(index[i] + int(round(0.5 * (index[i + 1] - index[i]))))] = '1'
rrh['HorseRankTop50Percent'][index[len(index) - 1]:(index[len(index) - 1] + 6)] = '1'

In [16]:
# Divide data into training set and test set.
# Training set contains all the races with race_id no more than “2016-327” (first 80%), 
# Test set contains the rest of races (last 20%)

temp_index = max(rrh.index[rrh['race_id'] == '2016-327'].tolist())
training = rrh[:(temp_index + 1)]
testing = rrh[(temp_index + 1):]

In [17]:
# Calculate jockey_ave_rank, trainer_ave_rank for training data
# jockey_ave_rank: records the average rank of the jockey in the training data
# trainer_ave_rank:records the average rank of the trainer in the training data


training['jockey_ave_rank'] = '7'

for i in range(len(jockey)):
    temp = training[training.jockey == jockey[i]][['finishing_position']]
    temp = temp['finishing_position'].values.tolist()
    if len(temp) != 0:
        temp_int = map(int,temp)
        temp_ave = np.mean(list(temp_int))
        training['jockey_ave_rank'][training.jockey == jockey[i]] = temp_ave


training['trainer_ave_rank'] = '7'

for i in range(len(trainer)):
    temp = training[training.trainer == trainer[i]][['finishing_position']]
    temp = temp['finishing_position'].values.tolist()
    if len(temp) != 0:
        temp_int = map(int,temp)
        temp_ave = np.mean(list(temp_int))
        training['trainer_ave_rank'][training.trainer == trainer[i]] = temp_ave

In [18]:
training.to_csv('training.csv')

In [19]:
####----Refer jockey_ave_rank and trainer_ave_rank of testing data to training data---####

testing['jockey_ave_rank'] = '7'
testing_jockey = testing['jockey'].unique()
for i in range(len(testing_jockey)):
    if testing_jockey[i] in training['jockey'].unique():
        testing['jockey_ave_rank'][testing.jockey == testing_jockey[i]] = training[training.jockey == testing_jockey[i]]['jockey_ave_rank'].tolist()[0]

testing['trainer_ave_rank'] = '7'
testing_trainer=testing['trainer'].unique()
for i in range(len(testing_trainer)):
    if testing_trainer[i] in training['trainer'].unique():
        testing['trainer_ave_rank'][testing.trainer == testing_trainer[i]] = training[training.trainer == testing_trainer[i]]['trainer_ave_rank'].tolist()[0]

In [20]:
testing.to_csv('testing.csv')

# Classification

In [21]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
import numpy as np
from sklearn.metrics import f1_score
import time